.App {
  text-align: center;
  background-image: url("./cover-img.jpg");
  height: 95%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  display: block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Nav-style {
  font-size: 1.5rem;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: white;
}

.App-footer {
  /* background-color: #282c34; */
  text-align: center;
  align-items: center;
  color: white;
  background-color: rgba(0,0,0,0.55);
}

.App-link {
  color: #61dafb;
}

.My-name {
  font-size: calc(90px + 2vmin);
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    justify-content: space-between !important;
    padding: .5rem 20rem !important;
  }
}

.selected {
  font-weight: bold;
}

.job-section {
  width: 60vw;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: rgba(0,0,0,0.55);
}

.job-header {
  text-align: center;
}

.home-top {
  display: block;
  height: 100vh;
  margin: auto;
  margin-top: 5vh;
  color: rgb(51,51,51);
}

.home-about {
  background-color: white;
  /* width: 95vw; */
  width: 60vw;
  color: rgb(51,51,51);
  padding: 50px 0;
  margin-bottom: 30px;
}

.about-blurb {
  font-size: 26px;
  padding-left: 5vw;
  padding-right: 5vw;
}