.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: white;
}

.App-link {
  color: #61dafb;
}

.My-name {
  font-size: calc(90px + 2vmin);
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    justify-content: space-between !important;
    padding: .5rem 20rem !important;
  }
}

.selected {
  font-weight: bold;
}